@import "tailwindcss";

html,
body,
#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@theme {
    --color-black: #000000;
    --color-purple-dark: #9500ff;
    --color-purple-light: #CC66DA;
    --color-yellow-light: #FAEB92;
    --color-yellow: #FFDE32;
}