@import "tailwindcss";

html,
body,
#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@theme {
    --color-dark-bg: #021526;
    --color-navy-blue: #1a314d;
    --color-dark-gray: #3d3d3d;
    --color-light-blue: #6EACDA;
    --color-light-yellow: #E2E2B6;
}